.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.mainPage {
  height: 45vh;
  background: url(https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.currentblog {
  height: 75vh;
}

.commentPics {
  width: 75px;
  height: 75px;
}

// body {
//   background-position: center cover relative stretch;
// }
